*{
  margin: 0px;
  padding: 0px;
  box-sizing: 0;
  font-family: 'Oswald', sans-serif;
  text-decoration: none;
}


.main {
background-color: rgb(37, 74, 153);
width: 80%;
height: 600px;
float: right;
margin-left: 30%;
margin-top: 60px;
border-radius: 10px;
display: flex;
opacity: 0.95;
box-shadow: 5px 5px 4px rgba(95, 12, 230, 0.568);

}

.sobreMim img {
  width: 220px;
  height: 350px;
  margin-left: 10px;
  margin-top: 50px;
  border: 1px solid  rgba(95, 12, 230, 0.568) ;
  border-radius: 50%;
  background:rgba(95, 12, 230, 0.568);
}

.sobreMim p {
  margin-top: 25px;
  font-size: 30px;
  display:flex;
  padding: 20px;
  color: #fff;
  text-align:center;
  letter-spacing: 1px;
}







body {
  min-height: 100vh;
}

.animacao {
  background: #0c192c;
  position: relative;
  width: 100%;
  height: 100vh; 
  overflow: hidden;
}

.bolhas {
  position: relative;
  display: flex;
}

.bolhas span {
  position: relative;
  width: 30px; 
  height: 30px; 
  background: #4fc3dc;
  margin: 0 4px; 
  border-radius: 50%;
  box-shadow: 0 0 0 10px #4fc3dc44,
  0 0 50px #4fc3dc, 
  0 0 100px #4fc3dc;
  animation: animacao 15s linear infinite;
  animation-duration: calc(125s / var(--i));

}

.bolhas span>:nth-child(even) {
  background: #ff2d75;
  box-shadow: 0 0 0 10px #ff2d7544,
  0 0 50px #ff2d75, 
  0 0 100px #ff2d75;
}

@keyframes animacao 
{
0%
{
  transform:  translateY(100vh) scale(0);
}
100%
{
  transform:  translateY(-10vh) scale(1);
}
}

